{% extends 'usalama_smart/base.html' %}
{% load static i18n %}
{% block title %}{% trans "OHS Links" %}{% endblock %}
{% block content %}
<h1 class="header">{% trans "Add a New OHS Link" %}</h1>
<div class="form-container1">
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.title.label_tag }} {{ form.title }}
        </div>
        <div>
            {{ form.url.label_tag }} {{ form.url }}
        </div>
        <div>
            {{ form.description.label_tag }} {{ form.description }}
        </div>
        <button type="submit" class="button">{% trans "Add Link" %}</button>
    </form>
</div>
<!-- <a href="{% url 'usalama_smart:ohs_link_list' %}">{% trans "Back to list" %}</a> -->
{% endblock %}
