{% extends 'usalama_smart/base.html' %}
{% load static i18n %}

{% block title %}{% trans "Details" %}{% endblock %}
{% block content %}
    <div class="items-box">
        <div class="item">
            <a href="{% url 'usalama_smart:content_list' %}">
                <div class="image-div">
                    <img src="{% static 'usalama_smart/img/Training.jpg' %}" alt="{% trans 'Training session' %}">
                </div>
            </a>
            <p>{% trans "Training modules" %}</p>
        </div>
        <div class="item">
            <a href="{% url 'usalama_smart:report_incidence' %}">
                <div class="image-div">
                    <img src="{% static 'usalama_smart/img/Report.jpg' %}" alt="{% trans 'Incident reporting' %}">
                </div>
            </a>
            <p>{% trans "Incident reporting" %}</p>
        </div>
        <div class="item">
            <a href="{% url 'usalama_smart:ohs_link_list' %}">
                <div class="image-div">
                    <img src="{% static 'usalama_smart/img/OHS.jpg' %}" alt="{% trans 'OHS regulations & guidelines' %}">
                </div>
            </a>
            <p>{% trans "OHS regulations & guidelines" %}</p>
        </div>
        <div class="item">
            <a href="{% url 'usalama_smart:expert_list' %}">
                <div class="image-div">
                    <img src="{% static 'usalama_smart/img/Consulting.jpg' %}" alt="{% trans 'Consultation services' %}">
                </div>
            </a>
            <p>{% trans "Consultation services" %}</p>
        </div>
        <div class="item">
            <a href="{% url 'usalama_smart:all_updates' %}">
                <div class="image-div">
                    <img src="{% static 'usalama_smart/img/Updates.jpg' %}" alt="{% trans 'Updates' %}">
                </div>
            </a>
            <p>{% trans "Updates" %}</p>
        </div>
        <div class="item">
            <a href="{% url 'usalama_smart:view_lawyers' %}">
                <div class="image-div">
                    <img src="{% static 'usalama_smart/img/Lawyers.jpg' %}" alt="{% trans 'Lawyers' %}">
                </div>
            </a>
            <p>{% trans "Lawyers" %}</p>
        </div>
        <div class="item">
            <a href="{% url 'usalama_smart:incident-chart' %}">
                <div class="image-div">
                    <img src="{% static 'usalama_smart/img/Statistics.jpg' %}" alt="{% trans 'Data statistics' %}">
                </div>
            </a>
            <p>{% trans "Data statistics" %}</p>
        </div>
    </div>
{% endblock %}
