{% extends 'usalama_smart/base.html' %}
{% load static i18n %}
{% block title %}{% trans "Expert Details" %}{% endblock %}
{% block content %}
    <div class="expert-detail-page">
        <div class="expert-detail-container">
            <h1 class="expert-name">{{ expert.name }}</h1>
            <div class="expert-profile">
                {% if expert.profile_picture %}
                <img src="{{ expert.profile_picture.url }}" alt="{{ expert.name }}" class="expert-picture">
                {% else %}
                <img src="{% static 'usalama_smart/img/default_profile_picture.png' %}" alt="Default profile picture" class="expert-picture">
                {% endif %}
                <p class="expert-bio">{{ expert.bio }}</p>
            </div>
            <div class="consultation-form-container">
                <h2 class="consultation-heading">{% trans "Book a Consultation" %}</h2>
                <form method="post" class="consultation-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="book-button">{% trans "Book" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
