{% extends 'usalama_smart/base.html' %}
{% load static i18n %}
{% block title %}{% trans "Expert List" %}{% endblock %}
{% block content%}
    <h1>{% trans "Experts" %}</h1>
    <div class="expert-list">
        {% for expert in experts %}
            <div class="expert-card">
                {% if expert.profile_picture %}
                <img src="{{ expert.profile_picture.url }}" alt="{{ expert.name }}">
                {% else %}
                <img src="{% static 'usalama_smart/img/default_profile_picture.png' %}" alt="Default profile picture" class="expert-picture">
                {% endif %}

                {% if request.user == expert.user %}
                <p><a href="{% url 'usalama_smart:expert_dashboard' expert.pk %}">{% trans "Expert's Dashboard" %}</a></p>
                {% endif %}
                <h2><a href="{% url 'usalama_smart:expert_detail' expert.pk %}">{{ expert.name }}</a></h2>
                <p>{{ expert.specialization }}</p>
                <p>{% trans "Rating" %}: {{ expert.rating }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
