{% extends 'usalama_smart/base.html' %}
{% load static %}
{% load i18n %}
{% block title %} Successfully Incident{% endblock %}
{% block content %}
<div class="consultation-success-page">
    <h1 class="consultation-success-heading">{% trans "Incident Submitted" %}</h1>
    <p class="consultation-success-message">
        {% trans "Your incident report has been submitted successfully. You can now return to the home page." %}
    </p>
    <a href="{% url 'usalama_smart:home' %}" class="dashboard-button">{% trans "Go to Home Page" %}</a>
</div>
{% endblock %}
