{% extends 'usalama_smart/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block content %}
  <section class="home-page">
  <section class="hero">
    <div class="hero-content">
      <div class="company-name">
        <ol>
            <li>
                <a class="nav-link nav-user mr-0 waves-eff" href="/en{{ request.get_full_path|slice:'3:' }}" role="button">
                    <span class="pro-user-name ml-1">{% trans "En" %}</span>
                </a>
            </li>
            <li>
                <a class="nav-link nav-user mr-0 waves-eff" href="/sw{{ request.get_full_path|slice:'3:' }}" role="button">
                    <span class="pro-user-name ml-1">{% trans "Sw" %}</span>
                </a>
            </li>
        </ol>
      </div>
        <h2>{% trans 'Welcome to Usalama Smart' %}</h2>
        <p>{% trans 'Your go-to platform for workplace safety, expert advice, and legal consultations.' %}</p>
        <button class="cta-btn"><a href="{% url 'accounts:signin' %}">{% trans 'Get Started' %}</a></button>
    </div>
  </section>

  <section class="subscription" id="lawyer-subscription">
    <h3>{% trans 'Lawyer Subscription' %}</h3>
    <p>{% trans 'Are you a lawyer? Join our platform to offer your expertise to workplaces in need of legal advice.' %}</p>
    <button class="subscribe-btn"><a style="color: #fff; text-decoration: none;" href="{% url 'usalama_smart:register_lawyer' %}">{% trans 'Register Now' %}</a></button>
  </section>
{% endblock %}
