{% extends 'usalama_smart/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "OHS Regulations and Guidelines" %}{% endblock %}
{% block content %}
<h1 class="header">{% trans "OHS Regulations and Guidelines" %}</h1>
<ul class="link-list">
    {% for link in links %}
    <li class="link-item">
        <a href="{{ link.url }}" class="link-title">{{ link.title }}</a>
        <p class="link-description">{{ link.description }}</p>
        <p class="link-date"><small>{% trans "Added on" %} {{ link.created_at|date:"F j, Y" }}</small></p>
    </li>
    {% empty %}
    <li class="empty-list-item">{% trans "No OHS links available." %}</li>
    {% endfor %}
</ul>
{% endblock %}
