{% extends 'usalama_smart/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "My Consultations" %}{% endblock %}
{% block content %}
    <div class="user-dashboard-page">
        <h1 class="dashboard-heading">{% trans "My Consultations" %}</h1>
        <button class="btn1-1 reset-password-button">
            <a href="{% url 'usalama_smart:password_change' %}">{% trans "Reset Your Password" %}</a>
        </button>
        <div class="consultations-list">
            {% for consultation in consultations %}
                <div class="consultation-item">
                    <h2>{% trans "Consultation with" %} {{ consultation.expert.name }}</h2>
                    <p>{% trans "Status" %}: {{ consultation.status }}</p>
                    {% if consultation.status == 'Accepted' %}
                        <p>{% trans "Meeting Link" %}: <a href="{{ consultation.meeting_link }}">{{ consultation.meeting_link }}</a></p>
                    {% elif consultation.status == 'Declined' %}
                        <p>{% trans "Decline Message" %}: {{ consultation.decline_message }}</p>
                    {% endif %}
                    <p>{% trans "Date" %}: {{ consultation.consultation_date }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
